html,body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--surface-b);
  color: var(--text-color);
}

a:link, a:visited { 
  color: var(--text-color);
  text-decoration: none; 
}

a:hover {
  color: var(--primary-color);
}

.container { margin-left: auto; margin-right: auto; }
@media only screen and (max-width: 767px) { .container { max-width: 100%; } }
@media only screen and (min-width: 768px) { .container { max-width: 740px; } }
@media only screen and (min-width: 992px) { .container { max-width: 980px; } }
@media only screen and (min-width: 1200px) { .container { max-width: 1140px; } }